input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    border: none;

}
input::placeholder{
    padding: 10px;
    color: black;
}
button{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: none;


}